h1 {
    background-color: rgb(120, 179, 230);
}
h2 {
    background-color: rgb(230, 219, 120);
}
h3 {
    background-color: rgb(233, 96, 55);
}
h4 {
    background-color: rgb(77, 236, 156);
}
h5 {
    background-color: rgb(144, 120, 230);
}
h6 {
    background-color: rgb(241, 153, 222);
}

